<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"about-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group about-page">
    <!-- wp:group {"tagName":"section","className":"about-page__intro"} -->
    <section class="wp-block-group about-page__intro">
        <!-- wp:post-title {"level":1} /-->
    </section>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"section","className":"about-page__content"} -->
    <section class="wp-block-group about-page__content">
        <!-- wp:post-content /-->
    </section>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
